/* -----------Reset links & setting----------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.li-class {
    list-style-type: none;
    /* width: 100%;
    max-width: 264px; */
}

.link {
    text-decoration: none;

}
/* -----------HEAD setting----------- */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* display: flex;
    align-items: baseline; */

}
/* ---------------HEADER-------------- */
.header-field {
    background: #FCFCFC;
    border-bottom: 1px solid #e7e9fc;
    padding: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    
    
}

.ad-cont {
    display: flex;
    justify-content: space-between;
}
/* logo----------- */

.logo-field {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-span-nav {
    color: #2e2f42;
}
/* navigatoin----------- */

.nav-cont {
   display: flex;
   align-items: center;
   


}
.nav-ref {
   color: #2e2f42;
   padding: 24px 0;
   position: relative; 
   color: #404bbf;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   


   
}

.nav-ref:hover,
.nav-ref:focus {
   color: #404bbf;
}

.nav-ref-line::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -1px;
   height: 4px;
   background-color: #404bbf;
   border-radius: 2px;
   width: 100%;
    

}




.nav-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-text:hover,
.nav-text:focus {
    color: #404bbf
}

.nav-ul {
    display: flex;
    gap: 40px;

}

/* address----------- */

.address-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
   
}

.add-ref {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.add-ref:hover, .add-ref:focus {
    color: #404bbf;
}

.address-li {
   color: #434455;
   display: flex;
   gap: 40px;
   /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}
.address-li:hover, .address-li:focus {
    color: #404bbf;
}

/* ---------------SECTION 1-------------- */
.section-one-text {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.png);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.one-text-head {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    /* dopiski start*/
    /* margin: 0 auto; */
    /* dopiski end */
}

.button-class-one {
    background: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-class-one:hover,
.button-class-one:focus {
    background-color: #404BBF;
}
/* -----------------Section 2-------------- */
.section-two-text {
    padding: 120px 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ul-text {
    display: flex;
    gap: 24px;

}
.sec-list-class {
    width: calc((100% - 72px) / 4);
}
.two-text-head {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;
}

.two-p-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ----------sectoin three--------- */
.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.li-section-three {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.three-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}



.name-major {
    padding: 32px 0;
}

.three-section-list{
    display: flex;
    gap: 24px;
}

.three-team {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    
}

.three-job-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
/* ----------FOUR three--------- */
.four-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02emem;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
    
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;

}
.four-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.four-list {
    width: calc((100% - 48px) / 3);
    /* position: relative;
        overflow: hidden; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-header {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.type-service {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
/* --------------Footer----------- */
.footer-section {
    background: #2E2F42;
    padding: 100px 0
}

.footer-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer-logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* --------------ICONS----------------- */
.social-list-icons {
    fill: #f4f4fd;
    stroke: #f4f4fd;
}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
    
    
    
}
.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         
    }
.social-list-link:hover, 
.social-list-link:focus {
    background-color: #404bbf;
}

.block-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    /* padding-left: 100px;
    padding-top: 24px; */
    margin-bottom: 8px;}

.block-list-icons {
    fill: #2E2F42;
   
}
/* ------------sectio 4 ---add text------ */
.overlays-card {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.four-list:hover .overlays-card {
    transform: translateY(0);
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.four-cont-cadr {
    position: relative;
    overflow: hidden;
}

.four-list:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}





.social-list-item {
    width: 40px;
    height: 40px;

}

.footer-p-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31d0aa;
}

.footer-div-container {
    margin-right: 120px;
}
.footer-main-cont {
    display: flex;
    align-items: baseline;
}
/* ________________backdrop_________________ */
.backdrob {
    position: fixed;
    top:0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}

/* ________________model window_________________ */

.model{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 200px;
    background-color:#FCFCFC ;
    border-radius: 4px;

}
.model-close-button {
    position: absolute;
    border:none;
    top: 24px;
    right: 24px;
    background-color: transparent;
    padding: 0px;
    line-height: 0;

}

.model-close-button {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
}
.model-close-button:hover,
.model-close-button:focus {
    background-color: #404BBF;
}

.model-close-button:hover,
.model-close-button:focus {
    fill:#FFFFFF;
}